# EDA in Fifa 23 - Ultimate team Dataset
*EDA - Exploratory Data Analysys*

## Context
In Fifa 23, the Ultimate Team game mode allows players to build teams using "cards" representing real-life players, with multiple versions available.

Every month, new campaigns are launched by developers with updated player versions to enhance team performance. 

## Goal
The goal of this notebook is to load, cleaning and analyze the dataset.

## The data
The data was obtained by scraping information from the website Futbin.com, purely for study purposes.

### Explaning the data:

- Name: Name of player
- Team: Team of player
- Country: Country of player
- League: League of player
- Rating: Overall rating of player, using the stats to calculate the overall
- Rare: The lever of rarity of player, could be Rare or Non-rare
- Version Color: Version of card's player
- Position: Main position of player
- Other position: Variaty of position that player can play
- Version: The campaign version of this card
- Run type: Type of running, differs in game
- Price: Price of this card when the data was extracted
- Skill: Skill moves, the ability of execute some dribles
- Weak foot: The ability of using the weak foot.
- Attack rate: The ability of going to attack
- Defense rate: The ability of going to defense
- Pace: Ability to run (0 - 100)
- Shoot: Ability to shoot (0 - 100)
- Pass: Ability to pass (0 - 100)
- Drible: Ability to drible/ agility (0 - 100)
- Defense: Ability to execute defensive moves (0 - 100)
- Physical: Physical ability (0 - 100)
- Body type: Type of body, some players have a unique body type
- Height (cm): Player's Height in centimeters
- Weight (kg): Player's weight in kilograms
- Popularity: Upvotes/ feedbak of players in Futbin website
- Base stats: Stats considering Pace, Shoot, Pass, Drible, Defense and Physical
- In game stats: Stats considering all atributes and player's behaviour in game
- Game version: Ultimate team version
- Updated at: Date of extraction

# Step 1 - Import Libs, load data and a overview on Dataframe
The first step is import the libs that we'll use in this project.

We should load the data from a local file (csv) and store it in a dataframe.

After that, we should take a look on the dataset, check their dataypes, the size and etc.

In [1]:
import pandas as pd
import re
import matplotlib.pylab as plt
import seaborn as sns
import numpy as np

# define style for charts
plt.style.use('ggplot')

# expand number of columns to better viz
pd.set_option('display.max_columns', 50)

%load_ext nb_black

df_players = pd.read_csv("data/players.csv")

In [2]:
# check the size of dataset (rows, columns)
df_players.shape

(4020, 30)

In [3]:
# check 10 random samples of dataset
df_players.sample(10)

,Name,Team,Country,League,Rating,Rare,Version_color,Position,Other_Positions,Version,Run_type,Price,Skill,Weak_foot,Attack_rate,Defense_rate,Pace,Shoot,Pass,Drible,Defense,Physical,Body_type,Height_cm,Weight (kg),Popularity,Base_Stats,In_Game_Stats,Game_version,Updated_at
3672,Suat Serdar,Hertha Berlin,Germany,Bundesliga,77,non-rare,gold,CM,"CDM,CAM",Normal,Controlled,850,4,3,H,M,67,71,71,81,73,79,Average,184.0,75.0,12,442,2111,FIFA 23,2023-04-17
1460,Gregor Kobel,Dortmund,Switzerland,Bundesliga,85,rare,if gold,GK,NaN,IF,Controlled,24.75K,1,3,M,M,86,83,76,90,45,82,High & Average,195.0,88.0,418,462,916,FIFA 23,2023-04-17
1974,Jonathan Tah,Germany,Germany,World Cup,83,rare,wc_player gold,CB,NaN,World Cup Player,Lengthy,0,2,4,M,M,68,38,60,62,84,86,High & Stocky,195.0,98.0,1,398,1780,FIFA 23,2023-04-17
581,El Shaarawy,Roma FC,Italy,Serie A TIM,89,rare,fut-bd gold,CF,"LM,ST,LW",FUT Birthday,Explosive,63K,5,3,M,M,94,85,85,90,58,79,Lean,178.0,73.0,104,491,2364,FIFA 23,2023-04-17
1787,Kieran Trippier,England,England,World Cup,84,rare,wc_player gold,RB,"RWB,RM",World Cup Player,Controlled,0,3,4,M,M,70,64,82,77,80,72,Average,173.0,71.0,2,445,2205,FIFA 23,2023-04-17
2016,Germán Pezzella,Real Betis,Argentina,LaLiga Santander,83,rare,if gold,CB,NaN,IF,Lengthy,13K,2,3,M,M,58,55,56,62,85,79,High & Average,186.0,81.0,2,395,1845,FIFA 23,2023-04-17
1573,Jorginho,Arsenal,Italy,Premier League,85,rare,gold,CM,NaN,Rare,Controlled,9K,3,3,M,M,54,67,86,81,73,73,Lean,180.0,68.0,49,434,2156,FIFA 23,2023-04-17
175,David Trezeguet,FUT ICONS,France,Icons,91,rare,icon gold,ST,CF,Icon,Lengthy,72.5K,4,4,M,L,81,92,70,82,45,80,High & Average+,187.0,75.0,-205,450,2122,FIFA 23,2023-04-17
1692,Abel Ruiz Ortega,SC Braga,Spain,Liga NOS (POR 1),84,rare,objective_reward_3 gold,ST,CF,Squad Foundation,Controlled,0,4,3,H,M,87,84,76,85,48,80,Average,180.0,75.0,-63,460,2159,FIFA 23,2023-04-17
220,Mohamed Salah,Liverpool,Egypt,Premier League,91,rare,if gold,RM,RW,IF,Controlled,260K,4,3,H,M,91,90,83,91,47,77,Salah,175.0,71.0,593,479,2295,FIFA 23,2023-04-17

In [4]:
# check the name and the type of each column, and if there is some missing values
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4020 entries, 0 to 4019
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             4020 non-null   object
 1   Team             4020 non-null   object
 2   Country          4020 non-null   object
 3   League           4020 non-null   object
 4   Rating           4020 non-null   int64
 5   Rare             4020 non-null   object
 6   Version_color    4020 non-null   object
 7   Position         4020 non-null   object
 8   Other_Positions  2986 non-null   object
 9   Version          3346 non-null   object
 10  Run_type         4020 non-null   object
 11  Price            4020 non-null   object
 12  Skill            4020 non-null   int64
 13  Weak_foot        4020 non-null   int64
 14  Attack_rate      4020 non-null   object
 15  Defense_rate     4020 non-null   object
 16  Pace             4020 non-null   int64
 17  Shoot            4020 non-null   int64
 18  Pass             4020 non-null   int64
 19  Drible           4020 non-null   int64
 20  Defense          4020 non-null   int64
 21  Physical         4020 non-null   int64
 22  Body_type        4003 non-null   object
 23  Height_cm        4018 non-null   float64
 24  Weight (kg)      4003 non-null   float64
 25  Popularity       4020 non-null   int64
 26  Base_Stats       4020 non-null   int64
 27  In_Game_Stats    4020 non-null   int64
 28  Game_version     4020 non-null   object
 29  Updated_at       4020 non-null   object
dtypes: float64(2), int64(12), object(16)
memory usage: 942.3+ KB

# Step 2 - Data preparation
In this step we prepare the data for further analysis, it's included:
- Normalize the column name
- Normalize the prices
- Adjust the data types
- Deal with whitespace
- Deal with missing values 
- Deal with duplicated values
- Remove useless data

## Normalize column name
The data set has a pattern in the column names, but it's easier to manipulate if they are with no space and lowercase, so let's implement this simple fix.

In [5]:
columns = df_players.columns.str.replace(" ", "_")\
                            .str.replace("(", "")\
                            .str.replace(")", "")\
                            .str.lower()

df_players.columns = list(columns)

C:\Users\Felipe Mayer\AppData\Local\Temp\ipykernel_9344\2323474123.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  .str.replace("(", "")\
C:\Users\Felipe Mayer\AppData\Local\Temp\ipykernel_9344\2323474123.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  .str.replace(")", "")\

## Normalize the price
The column price, as you may notice, is a Object, it means, a string. We'll use this column to some analysis so it's crucial to change them to a numeric value and normalize it.

The numbers are expressed with K for thousand and M to million, for exemple 14.000 it's 14K. So we need to change the letter (K or M) to correspodent 0's (000 and 000000). After that, change the datatype to integer.

In [6]:
df_players['price'] = df_players['price'].replace({'M': 'e+06', 'K': 'e+03'}, regex=True).astype(float).astype(np.int64)

df_players['price']

0        3980000
1        4820000
2        2230000
3       11400000
4        2500000
          ...
4015           0
4016           0
4017           0
4018           0
4019           0
Name: price, Length: 4020, dtype: int64

## Adjust the Data type

As you may notice, the dataset loaded has a good data type definition, excepts for "updated_at" column, it's a Object but it's a date, so we need to change it's data type.

In [7]:
df_players['updated_at'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4020 entries, 0 to 4019
Series name: updated_at
Non-Null Count  Dtype
--------------  -----
4020 non-null   object
dtypes: object(1)
memory usage: 31.5+ KB

In [8]:
df_players['updated_at'] = df_players['updated_at'].astype('datetime64[ns]')

df_players['updated_at'].sample(5)

1145   2023-04-17
3315   2023-04-17
3973   2023-04-17
3956   2023-04-17
3172   2023-04-17
Name: updated_at, dtype: datetime64[ns]

We can change the type of some columns to Category to descrease de memory usage.

In [9]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4020 entries, 0 to 4019
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             4020 non-null   object
 1   team             4020 non-null   object
 2   country          4020 non-null   object
 3   league           4020 non-null   object
 4   rating           4020 non-null   int64
 5   rare             4020 non-null   object
 6   version_color    4020 non-null   object
 7   position         4020 non-null   object
 8   other_positions  2986 non-null   object
 9   version          3346 non-null   object
 10  run_type         4020 non-null   object
 11  price            4020 non-null   int64
 12  skill            4020 non-null   int64
 13  weak_foot        4020 non-null   int64
 14  attack_rate      4020 non-null   object
 15  defense_rate     4020 non-null   object
 16  pace             4020 non-null   int64
 17  shoot            4020 non-null   int64
 18  pass             4020 non-null   int64
 19  drible           4020 non-null   int64
 20  defense          4020 non-null   int64
 21  physical         4020 non-null   int64
 22  body_type        4003 non-null   object
 23  height_cm        4018 non-null   float64
 24  weight_kg        4003 non-null   float64
 25  popularity       4020 non-null   int64
 26  base_stats       4020 non-null   int64
 27  in_game_stats    4020 non-null   int64
 28  game_version     4020 non-null   object
 29  updated_at       4020 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(13), object(14)
memory usage: 942.3+ KB

In [10]:
cols = ['team', 'country', 'league', 'rare', 'position', 'run_type',
         'attack_rate', 'defense_rate', 'body_type', 'game_version']

for col in cols:
    df_players[col] = df_players[col].astype('category')

df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4020 entries, 0 to 4019
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             4020 non-null   object
 1   team             4020 non-null   category
 2   country          4020 non-null   category
 3   league           4020 non-null   category
 4   rating           4020 non-null   int64
 5   rare             4020 non-null   category
 6   version_color    4020 non-null   object
 7   position         4020 non-null   category
 8   other_positions  2986 non-null   object
 9   version          3346 non-null   object
 10  run_type         4020 non-null   category
 11  price            4020 non-null   int64
 12  skill            4020 non-null   int64
 13  weak_foot        4020 non-null   int64
 14  attack_rate      4020 non-null   category
 15  defense_rate     4020 non-null   category
 16  pace             4020 non-null   int64
 17  shoot            4020 non-null   int64
 18  pass             4020 non-null   int64
 19  drible           4020 non-null   int64
 20  defense          4020 non-null   int64
 21  physical         4020 non-null   int64
 22  body_type        4003 non-null   category
 23  height_cm        4018 non-null   float64
 24  weight_kg        4003 non-null   float64
 25  popularity       4020 non-null   int64
 26  base_stats       4020 non-null   int64
 27  in_game_stats    4020 non-null   int64
 28  game_version     4020 non-null   category
 29  updated_at       4020 non-null   datetime64[ns]
dtypes: category(10), datetime64[ns](1), float64(2), int64(13), object(4)
memory usage: 688.1+ KB

## Deal with whitespace

Some data has whitespace, since the data was scrapped so we need to remove it. To make it easier we will remove the whitespace of every String column, even if it doens't needed

In [11]:
for col in df_players.columns:
    if df_players[col].dtype == 'object':
        df_players[col] = df_players[col].str.strip()

## Deal with missing values 
There is some columns with missing values, let's deal with deal properly.

- For "version" column, we need to understand which players without a version and why, so we can deal with that.
- For "height" and "weight" columns, we need to understand below what's happen and choose the best way to deal it.
- For "body_type" column, there is a patter to define the body type of player, we can user it to fill the null values.

In [12]:
df_players.isna().sum()

name                  0
team                  0
country               0
league                0
rating                0
rare                  0
version_color         0
position              0
other_positions    1034
version             674
run_type              0
price                 0
skill                 0
weak_foot             0
attack_rate           0
defense_rate          0
pace                  0
shoot                 0
pass                  0
drible                0
defense               0
physical              0
body_type            17
height_cm             2
weight_kg            17
popularity            0
base_stats            0
in_game_stats         0
game_version          0
updated_at            0
dtype: int64

### Column: "version"
Some players without 'version' filled, but they belong to sub-groups with same 'version_color'. We'll use the 'version-color' information to fill the 'version' missing value columns.

In [13]:
df_players['version'].isna().sum()

674

In [14]:
df_players[df_players['version_color'].isin(df_players[df_players['version'].isna()]\
                                            ['version_color'].unique())]\
                                            [['version', 'version_color' ]]\
                                            .value_counts(dropna=False)

version       version_color
NaN           gold                   640
Normal        gold                   280
Rare          gold                    87
non-rare      gold                    27
NaN           bd_icon gold            18
              libertadores_b gold     15
Non-Rare      gold                     7
Libertadores  libertadores_b gold      1
SBC           bd_icon gold             1
NaN           sudamericana gold        1
dtype: int64

In [15]:
df_players['version'].fillna(df_players['version_color'])

# change the type of the column 'version' and 'version_color' to category
df_players['version'] = df_players['version'].astype('category')
df_players['version_color'] = df_players['version_color'].astype('category')

In [16]:
df_players['version'].isna().sum()

674


### Deal with "height" and "weight" columns

Some players has 0 as weight, let's change it to NaN and deal with them.

In [17]:
df_players['weight_kg'].replace(0, np.nan, inplace=True)

There is a correlation between height and weight, so we'll fill the missing values of 'weight' with the avarage value of other players with same "height"

In [18]:
# check the correlation between height and weight
df_players['height_cm'].corr(df_players['weight_kg'])

0.7697453215779397

In [19]:
# group by height and calculate the mean of weight
df_player_groupedby_height = df_players[df_players['weight_kg'].notnull()].groupby('height_cm')['weight_kg'].mean()

df_player_groupedby_height.sample(n=5)

height_cm
169.0    65.866667
188.0    81.726316
183.0    76.829876
164.0    66.000000
171.0    67.323077
Name: weight_kg, dtype: float64

Using the height grouped dataframe above to fill the missing values of weight

In [20]:
df_players['weight_kg'] = df_players['weight_kg'].fillna(df_players['height_cm'].map(df_player_groupedby_height))

df_players[df_players['weight_kg'].isna()]

,name,team,country,league,rating,rare,version_color,position,other_positions,version,run_type,price,skill,weak_foot,attack_rate,defense_rate,pace,shoot,pass,drible,defense,physical,body_type,height_cm,weight_kg,popularity,base_stats,in_game_stats,game_version,updated_at
89,Casillas Fernández,FUT ICONS,Spain,Icons,93,rare,trophy_titans_icon gold,GK,NaN,Trophy Titans - ICON,Controlled,99000,1,3,M,M,94,91,87,96,62,92,NaN,NaN,NaN,1189,522,1359,FIFA 23,2023-04-17
137,Casillas Fernández,FUT ICONS,Spain,Icons,92,rare,icon gold,GK,NaN,Icon,Controlled,145000,1,3,M,M,93,89,85,95,60,91,NaN,NaN,NaN,216,513,1355,FIFA 23,2023-04-17

Two entries still empty in terms of height weight and body type. The player is Casillas, he had more versions and only this two don't have this information, so we sould add it manually.

In [21]:
# find all entries with name Casillas
df_casillas = df_players[df_players['name'].str.contains('Casillas')]

# get the height mean of all Casillas (not null)   
height_mean = df_casillas[df_casillas['height_cm'].notnull()]['height_cm'].mean()

# get the weight mean of all Casillas (not null)
weight_mean = df_casillas[df_casillas['weight_kg'].notnull()]['weight_kg'].mean()

# get Casillas body_type information   
body_type = df_casillas[df_casillas['body_type'].notnull()]['body_type'].unique()

In [22]:
# replace miss values of Casillas with the mean of height and weight
df_players.loc[df_players['name'].str.contains('Casillas'), 'height_cm'] = df_players.loc[df_players['name'].str.contains('Casillas'), 'height_cm'].fillna(height_mean).round(1)
df_players.loc[df_players['name'].str.contains('Casillas'), 'weight_kg'] = df_players.loc[df_players['name'].str.contains('Casillas'), 'weight_kg'].fillna(weight_mean).round(1)

# fill na value of Casillas body_type with the most common value
df_players.loc[df_players['name'].str.contains('Casillas'), 'body_type'] = df_players.loc[df_players['name'].str.contains('Casillas'), 'body_type'].fillna(body_type[0])

# find all entries with name Casillas
df_players[df_players['name'].str.contains('Casillas')][['name', 'body_type', 'height_cm', 'weight_kg']]

                   name body_type  height_cm  weight_kg
89   Casillas Fernández   Average      185.0       77.4
137  Casillas Fernández   Average      185.0       77.4
234       Iker Casillas   Average      185.0       78.2
474       Iker Casillas   Average      185.0       84.0
906       Iker Casillas   Average      185.0       70.0

In [23]:
# show players with null values in any column
df_players.isna().sum()

name                  0
team                  0
country               0
league                0
rating                0
rare                  0
version_color         0
position              0
other_positions    1034
version             674
run_type              0
price                 0
skill                 0
weak_foot             0
attack_rate           0
defense_rate          0
pace                  0
shoot                 0
pass                  0
drible                0
defense               0
physical              0
body_type            15
height_cm             0
weight_kg             0
popularity            0
base_stats            0
in_game_stats         0
game_version          0
updated_at            0
dtype: int64

### Deal with 'body_type' column

The idea is to use the Height and Weight to define the body type that are missing. We used BMI (body mass index) to define the boundaries.

For this column it's ok if we aren't 100% sure about the value.

In [24]:
#create a new column BMI (body mass index) bmi = weight / (height ** 2)
df_players['bmi'] = (df_players['weight_kg'] / (df_players['height_cm']/100) ** 2).round(0)

df_players[['weight_kg', 'height_cm', 'bmi']].sample(5)

      weight_kg  height_cm   bmi
3280       86.0      187.0  25.0
1563       83.0      185.0  24.0
954        76.0      192.0  21.0
2070       70.0      176.0  23.0
365        69.0      171.0  24.0

In [25]:
# group by body_type and calculate the mean of bmi
df_player_groupedby_body_type = df_players.groupby('body_type')['bmi'].mean().round(0)

# create a dict based on groups
dict_bmi_bodytype = {v: k for k, v in df_player_groupedby_body_type.items()}

dict_bmi_bodytype

{23.0: ' Unique',
 22.0: ' Short & Lean',
 24.0: ' Ronaldinho',
 21.0: ' High & Lean ',
 25.0: ' Stocky'}

In [26]:
# fill na values of body_type with dictionary
df_players['body_type'] = df_players['body_type'].fillna(df_players['bmi'].map(dict_bmi_bodytype))

In [27]:
df_players.isna().sum()

name                  0
team                  0
country               0
league                0
rating                0
rare                  0
version_color         0
position              0
other_positions    1034
version             674
run_type              0
price                 0
skill                 0
weak_foot             0
attack_rate           0
defense_rate          0
pace                  0
shoot                 0
pass                  0
drible                0
defense               0
physical              0
body_type             0
height_cm             0
weight_kg             0
popularity            0
base_stats            0
in_game_stats         0
game_version          0
updated_at            0
bmi                   0
dtype: int64

There is some missing values on "other_positions" column, but it's not a problem since not every players will have more than one position to play.

## Duplicated values
Some players has more than one version, and it's fine, but we should understand if some players has the same Name, Team, Rating, Version and Position.

In [28]:
df_players.loc[df_players.duplicated(subset=['name',
                                             'team', 
                                            'rating',
                                            'league',
                                            'version',
                                            'position'], keep=False)]

,name,team,country,league,rating,rare,version_color,position,other_positions,version,run_type,price,skill,weak_foot,attack_rate,defense_rate,pace,shoot,pass,drible,defense,physical,body_type,height_cm,weight_kg,popularity,base_stats,in_game_stats,game_version,updated_at,bmi
402,Oleksandr Zinchenko,Arsenal,Ukraine,Premier League,90,rare,fut-bd gold,LB,LWB,FUT Birthday,Controlled,258000,5,4,H,M,90,78,89,90,87,81,Lean,175.0,64.0,903,515,2486,FIFA 23,2023-04-17,21.0
403,Oleksandr Zinchenko,Arsenal,Ukraine,Premier League,90,rare,fut-bd gold,LB,LWB,FUT Birthday,Controlled,255000,4,5,H,M,90,78,89,90,87,81,Lean,175.0,64.0,621,515,2486,FIFA 23,2023-04-17,21.0
570,Darwin Núñez,Liverpool,Uruguay,Premier League,89,rare,fut-bd gold,LW,"CF,ST",FUT Birthday,Controlled,400000,4,5,H,H,95,88,77,86,48,92,High & Average+,186.0,80.0,1099,486,2305,FIFA 23,2023-04-17,23.0
571,Darwin Núñez,Liverpool,Uruguay,Premier League,89,rare,fut-bd gold,LW,"CF,ST",FUT Birthday,Controlled,415000,5,4,H,H,95,88,77,86,48,92,High & Average+,186.0,80.0,821,486,2305,FIFA 23,2023-04-17,23.0
665,David Alaba,Real Madrid,Austria,LaLiga Santander,88,rare,halloween gold,CB,NaN,Rulebreakers,Controlled,0,3,4,M,M,81,66,85,83,91,81,Average,180.0,78.0,-773,487,2360,FIFA 23,2023-04-17,24.0
666,David Alaba,Real Madrid,Austria,LaLiga Santander,88,rare,halloween gold,CB,NaN,Rulebreakers,Controlled,0,3,4,M,M,81,66,85,83,87,87,Average,180.0,78.0,2872,489,2367,FIFA 23,2023-04-17,24.0
817,Jorge Resurrección,Atlético de Madrid,Spain,LaLiga Santander,88,rare,fut-bd gold,CM,CDM,FUT Birthday,Controlled,35000,4,5,M,M,80,81,90,85,83,84,Average,176.0,77.0,-77,503,2410,FIFA 23,2023-04-17,25.0
818,Jorge Resurrección,Atlético de Madrid,Spain,LaLiga Santander,88,rare,fut-bd gold,CM,CDM,FUT Birthday,Controlled,34750,5,4,M,M,80,81,90,85,83,84,Average,176.0,77.0,200,503,2410,FIFA 23,2023-04-17,25.0
828,Mattéo Guendouzi,OM,France,Ligue 1,88,rare,fut-bd gold,CM,CDM,FUT Birthday,Controlled,378000,5,4,M,H,83,82,87,84,86,89,High & Average+,185.0,68.0,752,511,2445,FIFA 23,2023-04-17,20.0
829,Mattéo Guendouzi,OM,France,Ligue 1,88,rare,fut-bd gold,CM,CDM,FUT Birthday,Controlled,357000,4,5,M,H,83,82,87,84,86,89,High & Average+,185.0,68.0,540,511,2445,FIFA 23,2023-04-17,20.0
1113,Matteo Pessina,AC Monza,Italy,Serie A TIM,87,rare,fut-bd gold,CAM,"CM,CF",FUT Birthday,Controlled,20750,4,5,M,M,86,84,86,88,81,81,Lean,183.0,75.0,151,506,2367,FIFA 23,2023-04-17,22.0
1115,Matteo Pessina,AC Monza,Italy,Serie A TIM,87,rare,fut-bd gold,CAM,"CM,CF",FUT Birthday,Controlled,20500,5,4,M,M,86,84,86,88,81,81,Lean,183.0,75.0,183,506,2367,FIFA 23,2023-04-17,22.0
1217,Sheraldo Becker,Union Berlin,Suriname,Bundesliga,86,rare,halloween gold,ST,"RM,CF",Rulebreakers SBC,Lengthy,0,3,4,M,L,96,85,82,75,50,85,Average,180.0,77.0,-550,473,2217,FIFA 23,2023-04-17,24.0
1218,Sheraldo Becker,Union Berlin,Suriname,Bundesliga,86,rare,halloween gold,ST,"RM,CF",Rulebreakers SBC,Controlled,0,4,3,M,L,92,85,78,87,45,88,Average,180.0,77.0,2193,475,2235,FIFA 23,2023-04-17,24.0
1376,Joakim Mæhle,Atalanta BC,Denmark,Serie A TIM,86,rare,fut-bd gold,RWB,"RB,RM,LM",FUT Birthday,Controlled,17500,5,4,M,M,94,70,82,85,82,86,High & Average,185.0,79.0,202,499,2342,FIFA 23,2023-04-17,23.0
1377,Joakim Mæhle,Atalanta BC,Denmark,Serie A TIM,86,rare,fut-bd gold,RWB,"RB,RM,LM",FUT Birthday,Controlled,17500,4,5,M,M,94,70,82,85,82,86,High & Average,185.0,79.0,138,499,2342,FIFA 23,2023-04-17,23.0
3307,Corozo,Ecuador,Ecuador,World Cup,78,rare,wc_player gold,LM,LW,World Cup Player,Controlled,0,3,3,H,M,92,73,67,80,37,82,Lean,180.0,66.0,2,431,1954,FIFA 23,2023-04-17,20.0
3322,Corozo,Ecuador,Ecuador,World Cup,78,rare,wc_player gold,LM,"RM,LW",World Cup Player,Explosive,0,4,4,H,M,87,70,70,78,51,68,Lean,176.0,63.0,0,424,1989,FIFA 23,2023-04-17,20.0

In [29]:
# drop duplicated values
df_players.drop_duplicates(subset=['name',
                                            'team', 
                                            'rating',
                                            'league',
                                            'version',
                                            'position'], 
                                            keep='first', inplace=True)

df_players.shape

(4011, 31)

## Remove useless data

Some entries are useless to the analysis so we sould remove it.

### World Cup players
For the purposes of this analysis, we will exclude two special versions of player cards: "World Cup Player",

In [30]:
df_players = df_players.query('version != "World Cup Player"')
df_players.shape

(2899, 31)

### Keep players with high rating
Choosing players who have a rating of 83 or higher. For those below 83 the price is almost the same

In [31]:
df_players = df_players.loc[df_players['rating'] >= 84]\
                                .reset_index(drop=True)\
                                .copy()

df_players.shape

(1722, 31)

### Players with 0 price
Some players doen't have a price, so we need to remove then to don't misleading the analysis.

In [32]:
# remove players with price == 0
df_players = df_players[df_players['price'] != 0].reset_index(drop=True).copy()

df_players.shape

(1579, 31)

## Step 3 - Feature Understanding

- Fastest player by position
- Best deal (cheapest with good ingame stats)
- IMC dos jogadores
- Strongest players by position
- Overpriced by league
- More expensive league
- Fastest nation
- Expensive club
- league with players from another country

### Fastest players by position

Pace is one of the most important attributes for a player, what if you build a team with the fastest players of game? And who much would cost to build this team?

In [33]:
# group by position and pace and calculate the mean of price
df_fastest_players = df_players.groupby(['position', 'pace'])['name'].max().reset_index()

# drop na values
df_fastest_players.dropna(inplace=True)

# drop duplicated values to find the last player with the highest pace
df_fastest_players = df_fastest_players.drop_duplicates(subset=['position'], keep='last')

# merge to get name and price information
df_fastest_players_merged = pd.merge(df_fastest_players, df_players, how='left', left_index=True, right_index=True)

# select columns of interest
df_fastest_players = df_fastest_players_merged[['position_x', 'pace_x', 'name_x', 'price']]

In [34]:
print(f"This team would cost {df_fastest_players_merged['price'].sum():,.0f} (in game currency) to be build. It's fast but isn't cheap.")

This team would cost 3,402,150 (in game currency) to be build. It's fast but isn't cheap.

### Most valuable Teams
What is the top 10 most expensive teams? What is the mean price of each player of these teams?

In [35]:
df_team_expensive_players = df_players.groupby(['team'])\
                                        .agg({'price': 'sum',
                                              'name': 'count'})\
                                        .reset_index()\
                                        .sort_values(by='price', ascending=False)

df_team_expensive_players['price_mean'] = (df_team_expensive_players['price'] / df_team_expensive_players['name']).round(0)

df_team_expensive_players = df_team_expensive_players.head()

In [36]:
print(f"The most expensive team is {df_team_expensive_players.iloc[0]['team']} with {df_team_expensive_players.iloc[0]['price']:,.0f} (in game currency) per player.")
print(f"The most expensive team considering the price mean is {df_team_expensive_players.iloc[1]['team']} with {df_team_expensive_players.iloc[1]['price_mean']:,.0f} (in game currency) per player.")

The most expensive team is FUT ICONS with 207,023,150 (in game currency) per player.
The most expensive team considering the price mean is Paris SG with 1,204,502 (in game currency) per player.

In [37]:
list_teams = df_team_expensive_players['team'].head(5).values.tolist()

print(list_teams)

df_players_from_most_expensive_teams = df_players[df_players['team']\
                                                .isin(list_teams)]

df_players_from_most_expensive_teams['team'].value_counts()

['FUT ICONS', 'Paris SG', 'HERO', 'Real Madrid', 'Manchester City']

FUT ICONS          392
HERO                98
Real Madrid         47
Manchester City     46
Paris SG            40
                  ...
FC Nantes            0
FC Midtjylland       0
FC Metz              0
FC Lugano            0
Zulte Waregem        0
Name: team, Length: 310, dtype: int64

In [ ]:
ax = plt.subplots(figsize=(10, 10))

ax = sns.scatterplot(data=df_players_from_most_expensive_teams,
                        y='price',
                        x='rating',
                        hue='league')

ax.set_yscale("log")

plt.setp(ax.get_legend().get_texts(), color='black')
plt.setp(ax.get_legend().get_title(), color='black')

plt.show()

In [ ]:
df_players['league'].value_counts(normalize=True)

In [ ]:
top_10_leagues = df_players['league'].value_counts().head(10)

df_top_league_players = df_players.loc[df_players['league'].isin(top_10_leagues.index)]

In [ ]:
top_10_leagues

In [ ]:
g = sns.catplot(
    data=df_top_league_players, y="league", kind="count", edgecolor=".6",
)

ax = g.facet_axis(0, 0)

plt.grid(False)

ax.set(facecolor = "white")

for c in ax.containers:
    labels = [(round(v.get_width())) for v in c]
    ax.bar_label(c, labels=labels, label_type='edge', padding=10, color='black')

In [ ]:
df_top_league_players['country'].value_counts(normalize=True)

In [ ]:
ax = sns.kdeplot(data=df_top_league_players, x="rating", hue='league', 
                                                warn_singular=False,
                                                fill=True
                                                )
plt.setp(ax.get_legend().get_texts(), color='black')
plt.setp(ax.get_legend().get_title(), color='black')

plt.show()

In [ ]:
f, ax = plt.subplots(figsize=(8, 8))
ax.set_yscale("log")
f = sns.boxplot(x='rating',y='price', data=df_players.query('price > 0'))

In [ ]:
ax = plt.subplots(figsize=(10, 10))

ax = sns.scatterplot(data=df_top_league_players,
                        y='price',
                        x='rating',
                        hue='league')

ax.set_yscale("log")

plt.setp(ax.get_legend().get_texts(), color='black')
plt.setp(ax.get_legend().get_title(), color='black')

plt.show()

In [ ]:
df_corr = df_top_league_players[['rating','price', 'weak_foot', 'skill', 
                                 'pace', 'shoot', 'pass', 'drible', 'defense', 'physical', 
                                 'height_cm', 'weight_kg', 'popularity', 'base_stats','in_game_stats' ]].dropna().corr()
ax = plt.subplots(figsize=(13, 13))

ax = sns.heatmap(df_corr, annot=True)

plt.show()

In [ ]:
df_top_league_players.query('price > 0')\
                    .groupby('league')['price']\
                    .agg(['mean','max', 'min', 'count'])\
                    .sort_values('mean', ascending=False)

In [ ]:
test = df_top_league_players[['name', 'position', 'pace']]
test

In [ ]:
df_top_league_players[['name', 'position', 'pace']]\
                    .sort_values(['pace'], ascending=False)\
                    .drop_duplicates(subset='name', keep='first')\
                    .drop_duplicates(subset='position', keep='first')